<mat-card class = "background">
    <!--Header Content-->
    <mat-card-header>
        <div mat-card-avatar class="mph-logo" layout = "row">
            <div mat-card-avatar class="eye-sym" layout = "row"></div>
        </div>
        <div layout = "row">
            <mat-card-title class="oncall">ONCALL</mat-card-title>
            <mat-card-title class="track">Tracker</mat-card-title>
        </div>  
    </mat-card-header>
    <!--Form Content-->
    <mat-card-content>
       <div class = "form1" fxFlex="25">
        <form class="book" [formGroup] = "loginForm" (ngSubmit)= "onSubmit()" >
            <mat-form-field class ="loginbox">
                <mat-label style="color: white; font-family: lato; font-size: 16px">User name</mat-label>
                <input matInput class = "input" formControlName = "Username">
                <mat-icon matSuffix style="color: white;">account_circle</mat-icon>
                <!-- <app-search [username] = "loginForm.value.Username"></app-search> -->
            </mat-form-field>
            <mat-form-field class ="psw">
                <mat-label style="color: white; font-family: lato; font-size: 16px;">Password</mat-label>
                <input matInput class = "input" formControlName = "Password" type="password">
                <mat-icon matSuffix style="color: white;">lock</mat-icon>
            </mat-form-field>                
            <mat-card-actions layout = "row">
                <button mat-raised-button style="float: right;" type="submit">Log On</button>
                <div class = "reset" flex="" >Forgot Passwords?<button mat-button class = "lable" disableRipple=true (click)="reset()">Click Here</button></div>
                <div class = "reset" flex="" >First-Time User? <button mat-button class = "lable" disableRipple=true (click)="signUp()">Click Here</button></div>
            </mat-card-actions>
        </form>
        </div>
    </mat-card-content>
</mat-card>
