<div class="mdc-layout-grid" fxFlex=100%>    
    <div style="padding-top: 2%;">
        <h4 class="heading"><strong>Edit/Update Incident </strong> Details <span></span></h4>
        <div *ngIf="!AddPage"  style="cursor:pointer;white-space: pre;/* height: 19px; */color: #06a8cb;font-size: small;"   title="Back to search results" (click)="BacktoSearchResult()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to results
        </div>
    </div>
    <div class="container">
        <div>
            <mat-card class ="flex-container" fxlayout = "row">
                <form class="formfield" [formGroup]="EditForm" (ngSubmit)="onSubmit()">
                    <div>
                        <mat-form-field class = "formtext" appearance = "outline">
                            <mat-label>Problem Reported</mat-label>
                            <textarea matInput placeholder="Ex. Reported issue is with.." formControlName="ProblemReported"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field appearance = "outline" style="width: 45%; left: 50px;">
                            <mat-label>Functional Area</mat-label>
                            <input matInput placeholder="Ex. ETKT Issue/SDS/FEED etc..." formControlName="FunctionalArea">
                        </mat-form-field>
                        <mat-form-field appearance = "outline" style="width: 20%; padding-left: 100px;">
                            <mat-label>Severity</mat-label>
                            <input matInput placeholder="Ex. Sev 1/2/3..5" formControlName="Severity">
                        </mat-form-field>
                        <mat-form-field appearance = "outline" style="width: 20%; padding-left: 50px;">
                            <mat-label>IR NO</mat-label>
                            <input matInput placeholder="IR#" formControlName="IR">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field appearance = "outline" style="width: 30%; padding-left: 50px;">
                            <mat-label>Reported date</mat-label>
                            <input matInput [matDatepicker]="picker" enabled formControlName="ReportedDateTime">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance = "outline" style="width: 40%; padding-left: 50px;">
                            <mat-label>IA</mat-label>
                            <input matInput placeholder="Ex. John" formControlName="IA">
                        </mat-form-field>
                        <mat-form-field appearance = "outline" style="width: 20%; padding-left: 50px;">
                            <mat-label>Reported By</mat-label>
                            <input matInput placeholder="UA/CM/US/VS.." formControlName="ReportedBy">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class = "formtext" appearance = "outline">
                            <mat-label>Root Cause</mat-label>
                            <textarea matInput placeholder="Ex. Problem with PNR" formControlName="RootCause"></textarea>
                        </mat-form-field>
                        <mat-form-field class = "formtext" appearance = "outline">
                            <mat-label>Resolution/Work around</mat-label>
                            <textarea matInput placeholder="Ex. Update XXX record with YY values" formControlName="ActionResolutionWorkaround"></textarea>
                        </mat-form-field>
                        <mat-form-field class = "formtext" appearance = "outline">
                            <mat-label>Long Term Solution Needed</mat-label>
                            <textarea matInput placeholder="If yes, Please update else update as NIL" formControlName="LongTermSolutionNeeded"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance = "outline" style="width: 40%; padding-left: 50px;">
                            <mat-label>Redirected to Other team</mat-label>
                            <input matInput placeholder="If yes, Please update else update as NIL" formControlName="Redirectedtootherteams">
                        </mat-form-field>
                        <mat-form-field appearance = "outline" style="width: 10%; padding-left: 50px;">
                            <mat-label>Time taken to resolve</mat-label>
                            <input matInput placeholder="Ex. 1/2/3..." formControlName="Timetakentoresolvetheproblem">
                        </mat-form-field>
                        <mat-form-field appearance = "outline" style="width: 25%; padding-left: 50px;">
                            <mat-label>Team</mat-label>
                            <input matInput placeholder="ETKT/GENRES/ACI" formControlName="Team">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-raised-button type="submit" *ngIf="!AddPage"color="primary" class="Update-btn" (click)="openDialog('Update')">Update</button>
                        <button mat-raised-button type="submit" *ngIf="AddPage" color="primary" class="Update-btn" (click)="openDialog('Add')">Add</button>
                        <button mat-raised-button type="submit" *ngIf="AddPage" color="asent" class="Delete-btn" (click)="openDialog('Reset')">Clear</button>
                        <button mat-raised-button type="submit" *ngIf="supervisor" color="warn" class="Delete-btn" (click)= "openDialog('Delete')">Delete</button>
                        <button mat-raised-button type="button" class="Delete-btn" (click)="BacktoSearchResult()">Cancel</button>
                    </div>
                </form>
            </mat-card>
        </div>  
    </div>
</div>